<div class="courses-panel">

  <h3>All Assignments</h3>

  <mat-tab-group class="tab1">

    

    <mat-tab class="labels" label="Labs">
        <mat-card *ngFor = "let assignment of assignments" class="course-details" >
      <div class="parent">
          <div class="child1">
          <mat-card-title class="dueDate"> Due: 12/31/2022 2:00pm</mat-card-title>
          <mat-card-title class="dueDate"> Points Possible: 10</mat-card-title>
        </div>
        <div class="child2">
          <mat-card-title class="cardTitle">{{assignment.name}}</mat-card-title>
        </div>
      </div>
          <mat-card-content class="cardContent">{{assignment.document}}</mat-card-content>
          <button mat-flat-button color="warn" class="goto-assignment-detail" [routerLink] = "['/assignment', assignment.id]">Details</button>
        </mat-card>
    </mat-tab>

    <mat-tab class="labels"  label="Code Challenges"></mat-tab>
    <mat-tab label="Readings" class="labels" ></mat-tab>
    
  </mat-tab-group>


</div>
