<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item">
              <a routerLink="/users" class="btn btn-info">List Users</a>
                </li>
            <li class="list-inline-item">
              <a routerLink="/adduser" class="btn btn-info">Add User</a>
                </li>
            <li class="list-inline-item">
              <a routerLink="/courses" class="btn btn-info">Go to Courses?</a>
                </li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<mat-sidenav-container fullscreen>

  <mat-sidenav #start (click)="start.close()">
    <mat-nav-list class="navList">
      <a class="items" mat-list-item routerLink="/">
        <span>Home</span>
      </a>
      <a class="items" mat-list-item routerLink="/users">
        <span >List Users</span>
      </a>
      <a class="items" mat-list-item routerLink="/adduser">
        <span >Add User</span>
      </a>
      <a class="items" mat-list-item  routerLink="/assignments">
        <span>Assignments</span>
      </a>
      <a class="items" mat-list-item  routerLink="/courses">
        <span>Go to Courses</span>
      </a>

    </mat-nav-list>

  </mat-sidenav>

  <mat-toolbar color="primary">

    <div class="toolbar-tools">

      <button mat-icon-button (click)="start.open('mouse')">
        <mat-icon>menu</mat-icon>
      </button>

      <div class="filler"></div>

    </div>


  </mat-toolbar>


  <router-outlet></router-outlet>

</mat-sidenav-container>