.course-details-holder{
  display: flex;
  min-height: 500px;
  justify-content: center;
  align-items: center;
}

.course-details {
  max-width: 50%;
  display: flex;
  align-items: center;
}

.course-details-header{
  margin: 20px;
  font-size: x-large;
}

.course-details-body{
  margin: 20px;
  font-size: large;
}

.add-assignment-button {
  margin-bottom: 20px;
}

.courses-title{
  padding-top: 30px;
  margin-left: 25px;
  font-weight: 400;
  font-size:x-large;
}
