app-course-cards{
  margin-left: 50px;
  margin-right: 50px;
  padding: 20px;
  display: flex;
  /* align-items: center; */
  /* justify-items: center; */
  align-items: center;
  justify-content: space-around;
  flex-flow: wrap;
}

.courses-title{
  padding-top: 30px;
  margin-left: 25px;
  font-weight: 400;
  font-size:x-large;
}